<launch>

    <node name="position_control_node" 
        pkg="fred_move_base" 
        type="position_control.py"
        output="screen"
        >
        
    </node>

    <node name="odometry_to_path_node" 
        pkg="fred_move_base" 
        type="path_publisher.py"
        output="screen"
        >
        
    </node>
          
</launch>