<launch>

    <node name="safe_twist" 
        pkg="fred_move_base" 
        type="safe_twist.py"
        output="screen"
        >
       
    </node>

   <node name="esp_control" 
        pkg="fred_move_base" 
        type="joy_esp_interface.py"
        output="screen"
        >
        
    </node>

    <node name="led_manager" 
        pkg="fred_move_base" 
        type="fred_led_manager.py"
        output="screen"
        >

        
    </node>
          
</launch>